# Django
SECRET_KEY='abc123'
DEBUG=True

# Postgres
POSTGRES_DB_NAME=price_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_TIMEZONE="Asia/Bishkek"
CELERY_TASK_TRACK_STARTED=True
CELERY_TASK_TIME_LIMIT='30 * 60'

# Scrapy service
SCRAPER_API_URL=http://host.docker.internal:8001/api/start_scraping/